<?xml version="1.0" encoding="utf-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
  -
        <param name="File" value="${homedrive}${homepath}\tvar.log"/>

        <!--
        <param name="File" value="/temp/tvar.log"/>
        -->
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] [%c] [%X{appId}] %X{brukerId}/%X{entitetId}/%X{subentitetId} %m%n"/>
        </layout>
    </appender>


    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>

        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>

        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] [%c] [%X{appId}] %m%n"/>
        </layout>
    </appender>


    <logger name="brreg" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>


    <logger name="org.apache" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>


    <logger name="org.aspectj" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.codehaus" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>


    <logger name="org.jgroups" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.test.context.junit4.SpringJUnit4ClassRunner" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>


    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
